<div class="footer ">
    <div class="social-icons">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="brands">
        <div>&copy;BookMyStay Privalte Limited</div>
    </div>
    <div class="info">
        <a href="/privacy">Privacy</a>
        <a href="terms">Terms</a>
    </div>
</div>