<% layout('./layouts/boilerplate') %>

<div class="container mt-3">
  <div class="row">

    <% for (let data of allData) { %>

      <div class="col-md-4 mb-4">   
        
        <a href="/listings/<%= data._id %>" class="text-decoration-none text-dark">
          
          <div class="card h-100 position-relative overflow-hidden">

            <img 
              src="<%= data.image.url %>" 
              class="card-img-top"
              style="height: 250px; object-fit: cover;"
              alt="listing_image">

            <div class="card-img-overlay overlay"></div>

            
            <div class="card-body">
              <p class="card-text">
                <b><%= data.title %></b> <br>
                &#8377;<%= data.price.toLocaleString("en-IN") %> / night
              </p>
            </div>

          </div>

        </a>

      </div>

    <% } %>

  </div>
</div>