<% layout('./layouts/boilerplate') %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">

  <div class="card shadow border-0 rounded-4">
    <div class="card-body p-4">

      <h2 class="text-center mb-4 fw-bold">
        Login
      </h2>

      <form action="/login" method="POST" novalidate class="needs-validation">

        <div class="mb-3">
          <label for="username" class="form-label fw-semibold">
            Username
          </label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control rounded-3"
            placeholder="Choose a username"
            required>
        </div>

        <div class="mb-4">
          <label for="password" class="form-label fw-semibold">
            Password
          </label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control rounded-3"
            placeholder="Create a password"
            required>
        </div>

        <button class="btn btn-danger w-100 rounded-3">
          Login
        </button>

      </form>

    </div>
  </div>

</div>

  </div>
</div>
